body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7cbe9;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #ffffff;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

.buttons {
    margin-top: 20px;

}


.cont-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4998f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}

.ready-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #a5dfa7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  
.notready-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #e28680;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.note_text {
    font-size: 1em;
    color: #ffffff;
}